@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Fredericka+the+Great&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.bloque{
    width: 100%;
    height: auto;
    background-color: cadetblue;
    border: solid 1px aliceblue;
    display: grid;
    grid-template-columns: 0.2fr 1.6fr;
    grid-template-rows: 50px 1.8fr;
    grid-template-areas: 
    "header header"
    "sidebar main";
}
.header{
    grid-area: header;
    background: #787878;
    /* position: sticky;
    top: 0; */
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
   justify-items: start;

}
.header .perfil{
    justify-self: end;
    padding-right: 30px;
}
.header .buscador{
    justify-self: center;

}
.logo-youtube{
    height: 50px;
}
.buscador{
    width: auto;
    display: flex;
}
.input-buscador{
    border-radius: 2px;
    background: #515151;
    height: 20px;
    width: 400px;
    border: 0;
    padding: 0;
    border-left: -10px solid none;
}

.search{
    height: 20px;
    background-color: #515151;
}

.perfil{
   
}
.camera, .apps, .account{
height: 30px;
padding-left: 30px;

    
}
.sidebar{
    grid-area: sidebar;
    background: #787878;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    position: sticky;
    top: 0;
}

.main{
    grid-area: main;
    background: #515151;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 300px);
}

.videos{

align-items: center;
justify-items: center;
}
.links{
    display: block;
    padding-bottom: 10px;
}


